.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f1f1f1;
  margin-top: 50px; /* Add margin to the top of the container */
}

h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  transition: opacity 0.3s ease-in-out;
}

.social-icons a:hover {
  opacity: 0.8;
} 
